.footer {
  padding-top: 65px;
  padding-bottom: 41px;

  background-image: url(../images/footer.jpg);
  background-size: 1440px 166px;
  background-position: center;
  background-repeat: no-repeat;
}

.address {
  font-style: normal;
}

.address__list {
  display: inline-block;
  margin-left: 952px;
  list-style: none;
  text-align: center;
}

.address__item a {
  font-size: 24px;
  line-height: 1.17;

  color: #dc587e;
}

.address__tel {
  color: rgba(255, 255, 255, 0.6);
}

.address__link {
  text-decoration: underline;
}
